<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Club Estival</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta
      name="keywords"
      content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"
    />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- 
  //////////////////////////////////////////////////////

  FREE HTML5 TEMPLATE 
  DESIGNED & DEVELOPED by FREEHTML5.CO
    
  Website:    http://freehtml5.co/
  Email:      info@freehtml5.co
  Twitter:    http://twitter.com/fh5co
  Facebook:     https://www.facebook.com/fh5co

  //////////////////////////////////////////////////////
   -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="/Users/user/Desktop/ClubEstivalProject/ClubEstival/FrontEndClubEstivage/src/styles.css"
    />

    <!-- Modernizr JS -->
    <script src="/Users/user/Desktop/ClubEstivalProject/ClubEstival/FrontEndClubEstivage/src/energy/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container spacer">
      <div class="panel panel-primary">
        <div class="panel-heading">Nouveau utilisateur</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label"> Username :</label>
            <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="staticID" class="control-label"> Password :</label>
            <input
              type="password"
              required="required"
              class="form-control"
              [(ngModel)]="password"
            />
          </div>

          <div class="form-group">
            <label for="staticID" class="ccontrol-label"> Nom :</label>
            <input
              type="email"
              required="required"
              class="form-control"
              id="staticEmail"
              [(ngModel)]="nomClient"
            />
          </div>
          <!---->
          <div class="form-group">
            <label for="staticID" class="ccontrol-label"> Adresse :</label>
            <input
              type="text"
              required
              class="form-control"
              [(ngModel)]="adresse"
            />
          </div>

          <div class="form-group">
            <label for="staticID" class="ccontrol-label"> email :</label>
            <input
              type="email"
              required="required"
              class="form-control"
              [(ngModel)]="email"
            />
          </div>

          <div class="form-group">
            <label for="staticID" class="ccontrol-label"> Tel :</label>
            <input
              type="text"
              required
              data-fv-numeric="true"
              data-fv-numeric-message="Please enter valid phone numbers"
              class="form-control"
              [(ngModel)]="tel"
            />
          </div>

          <button class="btn btn-success" (click)="ajouterUser()">
            Register
          </button>
          <button class="btn btn-success" (click)="login()">login</button>
        </div>
      </div>
    </div>
  </body>
</html>
