<div class="container spacer">
	<div class="panel panel-primary">
		<div class="panel-heading"> Liste des hebergements </div>
		<div class="panel-body">
			 

              <div class="form-group">
				   	<label for="staticID" class="ccontrol-label">  Type hebergement:</label>
					  <select [(ngModel)]="motCle"  class="form-control" (change)="chercherHebergement()" required>
						<option value="" selected>All</option>
						 
						  <option value="appartement" selected>appartement</option>
						  <option value="bungalows">bungalows </option>
						  <option value="caravanes"> caravanes</option>
					  </select>
				</div>

			  
			<table class="table table-striped ">
				<tr>
					<th>ID</th>
					<th>NOM</th>
					<th>Type </th>
					<th>Description</th>
					<th>Tarif  </th>
					<th>Emplacement </th>
					<th>Disponibilite  </th>
					<th *ngIf="mode==1">----------------</th>

				</tr>
				<tr *ngFor="let c of pageClients?.content">
					<td><a (click)="gotoPageHbergement(c.idHebergement)" class="clickable" >{{c.idHebergement}}</a></td>
					<td>{{c.nomHebergement}}</td>
					<td>{{c.typeHebergement}}</td>
					<td>{{c.description}}</td>
					<td>{{c.tarifHebergement}}</td>
					<td>{{c.emplacement}}</td>
					<td>{{c.disponibilite}}</td>
					<td *ngIf="mode==1"><button class="btn btn-primary" (click)="modifierHebergement(c.idHebergement)">Modifier</button> <button class="btn btn-primary"  (click)="supprimerHebergement(c)" >Annuler</button></td>

				</tr>
			</table>
			<div class="container">
				<ul class="nav nav-pills">
					<li  [ngClass]="{'active' :currentPage ==(i)}"  *ngFor = "let p of pages; let i=index" >

						<a (click)="gotoPage(i)" class="clickable" >{{i}}</a>

				    </li>

				</ul>

			</div>

		</div>

	</div>



</div>
<app-button></app-button>