<div class="container spacer">
	<div class="panel panel-primary">
		<div class="panel-heading"> Restauration : {{restaurationSelectionne.nomRestauration}} </div>
		<div class="panel-body">
			  
			<ul>
				<li>ID : {{restaurationSelectionne.idRestauration}}</li>
				<li>NOM : {{restaurationSelectionne.nomRestauration}}</li>
				<li>Type : {{restaurationSelectionne.typeRestauration}}</li>
				<li>Description : {{restaurationSelectionne.description}}</li>
				<li>Type Repas : {{restaurationSelectionne.typeRepas}}</li>
				<!-- <li>Emplacement : {{restaurationSelectionne.emplacement}}</li> -->
			</ul>

			
		 <button class="btn btn-primary" (click)="dirigeVersNewReservation(restaurationSelectionne.idRestauration)" >Réserver</button>
		
			

		</div>

	</div>



</div>
<app-button></app-button>